<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.interedes.agriculturappv3">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--SMS-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--INtent Service Job-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AgriculturApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">





        <activity
            android:name=".activities.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity
            android:name=".activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.intro.PermissionsIntro"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--
            <activity
            android:name="com.interedes.agriculturappv3.asistencia_tecnica.activities.login.ui.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden" />


             <activity
            android:name=".activities.login.ui.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
             />
        -->

        <activity
            android:name=".activities.login.ui.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
             />
        <activity
            android:name=".activities.registration.register_rol.RegisterRolActivity"
            android:parentActivityName=".activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.registration.register_user.ui.RegisterUserActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName=".activities.registration.register_rol.RegisterRolActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity

            android:name=".modules.productor.ui.main_menu.MenuMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.chat.online.ChatUsersActivity"
            android:parentActivityName=".modules.productor.ui.main_menu.MenuMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.chat.online.ChatMessageActivity"
            android:parentActivityName=".modules.productor.ui.main_menu.MenuMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.chat.chat_sms.Chat_Sms_Activity"
            android:parentActivityName=".activities.chat.chat_sms.UserSmsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.chat.chat_sms.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".modules.productor.ui.main_menu.MenuMainActivity" />

        <activity
            android:parentActivityName=".modules.productor.ui.main_menu.MenuMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".activities.chat.chat_sms.UserSmsActivity"></activity>

        <!-- Maps -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps" />

        <receiver
            android:name=".services.internet_connection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".activities.chat.chat_sms.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".activities.chat.chat_sms.MySmsBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <service android:name=".services.coords.CoordsServiceKotlin" />

        <!--
        <service
            android:name=".services.services.ProgresService"
            android:exported="false" >
        </service>

           <service

            android:exported="false"
            android:name=".services.services.JobSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        -->


        <service
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:name=".services.services.JobSyncService"
          />

    </application>

</manifest>